
<h2>What type of endangered animals would you like to learn more about?</h2>
<form name="endangeredSpecies" method="post">
    <select name="selCategory">
        <option name="critical">Critical</option>
        <option name="endangered">Endangered</option>
        <option name="nearthreatened">Near Threatened</option>
        <option name="vulnerable">Vulnerable</option>
        <option name="normal">Not Threatened</option>
    </select>
    <button type="submit">Submit</button>
</form>