body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 12pt;
    width:100%;
}

header {
    margin-top: 0px;
    background-color: darkgreen;
    padding: 5px;
    border-radius: 20px;
}

article {
    display: flex;
    height: auto;
    overflow: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: darkgreen;
}
img{
    text-align:center;
}
    article div {
        flex: 1;
        background-color: white;
        border: 10px green groove;
        overflow: auto;
        min-width: 250px;
        min-height: 200px;
        max-width: 350px;
        max-height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
    }

        article div:hover {
            animation: scale 2s ease;
        }

        article div header {
            background-color: black;
            padding: 0px;
        }

@keyframes scale {
    100% {
        transform: scale(.75,.75);
    }
}

h1 {
    text-align: left;
    font-size: 2em;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 1px 1px black;
}

h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;
    padding-left: 10px;
    text-shadow: 1px 1px black;
    margin-top: 0px;
    font-size: 1em;
}

a:link {
    color: green;
    text-decoration: none;
}

a:active {
    color: maroon;
    text-decoration: none;
}

a:visited {
    color: lightgreen;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: darkgreen;
    text-decoration: none;
}
button{
    background-color:darkgreen;
    color:white;
    box-shadow:1px 1px black;
}