@{
    ViewBag.Title = "SOS Contact";
}
<h3>@ViewBag.Message</h3>

<Address>
   100 We Are the World Avenue<br />
    Traverse City, MI 49696<br />
    <abbr title="Phone">Ph:</abbr>
    800.555.1234
</Address>

<Address>
    <strong>Support:</strong>   <a href="mailto:Support@sos.com">Support@sos.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@sos.com">Marketing@sos.com</a>
</Address>