@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center;color:white;background-color:darkgreen;">
    <h1>Welcome to the Endangered Animals Support Site</h1>
</div>
<div style="text-align:center;">
    <a href="~/Content/Images/sumatran-tiger.jpg" target="_blank"><img src="~/Content/Images/sumatran-tiger.jpg" style="margin-right:50px;height:200px; outline:groove 10px black;" /></a>
    <a href="~/Content/Images/leopard.jpg" target="_blank"><img src="~/Content/Images/leopard.jpg" style="margin-right:50px;height:200px; outline:groove 10px black;" /></a>
    <a href="~/Content/Images/elephant.jpg" target="_blank"><img src="~/Content/Images/elephant.jpg" style="margin-right:50px;height:200px; outline:groove 10px black;" /></a>
</div>